body {
    font-family: 'Montserrat', sans-serif;
}

.top-content {
    width: 100%;

    /* calcolo per rendere sempre visibile footer */
    height: calc(100vh - 200px);
    /* calcolo per rendere sempre visibile footer */

    display: flex;
}

.footer {
    width: 100%;
    height: 200px;

    
    background-color: #282828;
    
}

/****** SIDE-BAR ******/
.side-bar {
    width: 300px;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: grey;
}

ul {
    list-style-type: none;
}

ul > li {
    margin-top: 20px;
}

.nav {
    margin-bottom: 20px;
}

.profile {
    margin-top: auto;
    margin-bottom: 10px;
}



.profile > p > i {
    margin-right: 5px;
}



hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.playlist {
    overflow: auto;
    color: grey;
}

.playlist > h3 {
    color: white;
}

.nav > div > a > i {
    margin-top: 10px;
    margin-right: 10px;
}

.side-bar > * {
    margin-left: 30px;
    max-width: 180px;
    
}

.nav > img {
    margin-top: 20px;
    margin-bottom: 20px;
}


/****** FINE SIDE-BAR ******/

.content {
    width: calc(100% - 300px); 
    height: 100%;

    /* DEBUG */
    background-color: blueviolet;
    /* DEBUG */

    position: relative;
}



/* ****** HEADER ****** */
.header {
    height: 120px;
    width: 100%;

    /* DEBUG */
    background-color: #080B12;
    opacity: 80%;
    /* DEBUG */

    position: fixed;
    display: flex;
    justify-content: end;
    align-items: center;

    width: calc(100% - 300px);
    
}

.upgrade {
    margin-right: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;
    
}

/* ****** FINE HEADER ****** */

.main {
    padding-top: 120px;
    width: 100%;
    height: 100%;
    background-color: #141922;
    overflow: auto;

}


.recently-played {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
}

.creato-per {
    padding-top: 250px;
    display: flex;
    flex-wrap: wrap;
}

.artisti-popolari {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
}


/* DEBUG */
.box {
    height: 200px;
    width: 200px;
    background-color: blue;
    margin: 10px;
    
    
}
/* DEBUG */

.artisti {
    border-radius: 50%;
}

